- if @page.ancestors.present? || @page.descendants.present?
  = breadcrumbs(@page)
  %p
    %em= @page.description

- if @root_page.descendants.empty?
  = render :partial => 'single_column'
- else
  = render :partial => 'double_column'


- if can?(:manage, @page)
  .clear
  = render 'admin_actions'
